* {
  margin: 0;
  padding: 0;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-gray: hsl(234, 29%, 20%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
