* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-gray: hsl(234, 29%, 20%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Typography */
h1,
p {
  color: var(--charcoal-gray);
}

h1 {
  font-size: 2.5rem;
  margin: 0.7em 0;
}

p {
  font-size: 1.1rem;
  line-height: 1.3;
}

/* Layout */
.icon-text-wraper {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

.list-icon {
  align-self: flex-start;
}
.container {
  width: 375px;
}

.main-wraper {
  margin: 1em;
}

/* Input Submit */
.email,
.submit-btn {
  width: 100%;
  padding: 1.1em;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 10px;
}

.email {
  margin: 0.5em 0;
  color: var(--gray);
  border: 1.5px solid var(--gray);
}

.submit-btn {
  margin-top: 1em;
  color: var(--white);
  background-color: var(--dark-gray);
  border: none;
}

.email:hover,
.submit-btn:hover {
  cursor: pointer;
}

.email:hover,
.email:focus {
  border-top: 1.5px solid var(--charcoal-gray);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--tomato);
  outline: none;
}

.label-text {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--charcoal-gray);
}

.form {
  margin-top: 2em;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
